<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (C) 2021 MetaHospital, Inc. All Rights Reserved.
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace属性是名称空间，必须唯一 -->
<mapper namespace="BookingMapper">
    <resultMap type="com.metahospital.datacollector.dao.data.Booking" id="BookingResultMap">
	    <id property="hospitalId" column="hospital_id"/>
	    <id property="profileId" column="profile_id"/>
	    <id property="bookingId" column="booking_id"/>
	    <result property="dateTime" column="date_time"/>
	    <result property="comboIds" column="combo_ids"/>
		<result property="bookingStatus" column="booking_status"/>
    </resultMap>

    <select id="getAllByUserId" parameterType="map" resultMap="BookingResultMap">
        select b.hospital_id, b.profile_id, booking_id, date_time, combo_ids, booking_status
        from booking as b
        inner join (select hospital_id, profile_id from user_profile where user_id = #{userId}) as up
        on b.hospital_id = up.hospital_id and b.profile_id = up.profile_id;
    </select>

    <select id="getAll" parameterType="map" resultMap="BookingResultMap">
        select hospital_id, profile_id, booking_id, date_time, combo_ids, booking_status from booking where hospital_id = #{hospitalId} and profile_id = #{profileId};
    </select>

	<select id="get" parameterType="map" resultMap="BookingResultMap">
		select hospital_id, profile_id, booking_id, date_time, combo_ids, booking_status from booking where hospital_id = #{hospitalId} and profile_id = #{profileId} and booking_id = #{bookingId};
	</select>

	<update id="replace" parameterType="com.metahospital.datacollector.dao.data.Booking">
		replace into booking
		(hospital_id, profile_id, booking_id, date_time, combo_ids, booking_status)
		values
		(#{hospitalId}, #{profileId}, #{bookingId}, #{dateTime}, #{comboIds}, #{bookingStatus});
    </update>
</mapper>
