<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (C) 2021 MetaHospital, Inc. All Rights Reserved.
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace属性是名称空间，必须唯一 -->
<mapper namespace="DepartmentMapper">
    <resultMap type="com.metahospital.datacollector.dao.data.Department" id="DepartmentResultMap">
        <id property="DepartmentId" column="department_id"/>
        <result property="name" column="department_name"/>
    </resultMap>

    <select id="get" parameterType="map" resultMap="DepartmentResultMap">
        select department_id, department_name from department;
    </select>
</mapper>
