<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (C) 2021 MetaHospital, Inc. All Rights Reserved.
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace属性是名称空间，必须唯一 -->
<mapper namespace="InnerAccountMapper">
    <resultMap type="com.metahospital.datacollector.dao.data.InnerAccount" id="InnerAccountResultMap">
        <id property="accountName" column="account_name"/>
        <result property="password" column="password"/>
	    <result property="userId" column="user_id"/>
    </resultMap>

    <select id="get" parameterType="map" resultMap="InnerAccountResultMap">
        select account_name, password, user_id from inner_account where account_name = #{accountName};
    </select>

	<update id="replace" parameterType="com.metahospital.datacollector.dao.data.InnerAccount">
		replace into inner_account
		(account_name, password, user_id)
		values
		(#{accountName}, #{password}, #{userId});
    </update>
</mapper>
