<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (C) 2021 MetaHospital, Inc. All Rights Reserved.
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace属性是名称空间，必须唯一 -->
<mapper namespace="UserMapper">
    <resultMap type="com.metahospital.datacollector.dao.data.User" id="UserResultMap">
        <!-- id标签:映射主键属性
             result标签：映射非主键属性
             property属性:实体的属性名
             column属性：表的字段名
        -->
        <id property="userId" column="user_id"/>
        <result property="name" column="name"/>
	    <result property="userType" column="user_type"/>
    </resultMap>

    <select id="get" parameterType="map" resultMap="UserResultMap">
        select user_id, name, user_type from user where user_id = #{userId};
    </select>

	<update id="replace" parameterType="com.metahospital.datacollector.dao.data.User">
		replace into user
		(user_id, name, user_type)
		values
		(#{userId}, #{name}, #{userType});
    </update>
</mapper>
