<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (C) 2021 MetaHospital, Inc. All Rights Reserved.
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace属性是名称空间，必须唯一 -->
<mapper namespace="WechatAccountMapper">
    <resultMap type="com.metahospital.datacollector.dao.data.WechatAccount" id="WechatAccountResultMap">
        <id property="openId" column="open_id"/>
        <result property="unionId" column="union_id"/>
	    <result property="sessionKey" column="session_key"/>
	    <result property="userId" column="user_id"/>
    </resultMap>

    <select id="get" parameterType="map" resultMap="WechatAccountResultMap">
        select open_id, union_id, session_key, user_id from wechat_account where open_id = #{openId};
    </select>

	<update id="replace" parameterType="com.metahospital.datacollector.dao.data.WechatAccount">
		replace into wechat_account
		(open_id, union_id, session_key, user_id)
		values
		(#{openId}, #{unionId}, #{sessionKey}, #{userId});
    </update>

</mapper>
